{% load static %} {% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        />
        <title>Kasi Ledger - Sign Up</title>
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <section class="container forms">
            <div class="form signup">
                <div class="form-content">
                    {% if messages %}
                    <div class="alerts">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" style="color: red">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <form action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        <div class="field input-field">
                            <input type="tel" name="phone_number" placeholder="Phone Number" class="input" required />
                        </div>
                        <div class="field input-field">
                            <input type="email" name="email" placeholder="Email" class="input" required />
                        </div>
                        <div class="field input-field">
                            <input
                                type="password"
                                name="password"
                                placeholder="Create password"
                                class="password"
                                required
                            />
                            <i class="bx bx-hide eye-icon"></i>
                        </div>
                        <div class="field button-field">
                            <button type="submit">Sign up</button>
                        </div>
                    </form>
                </div>

                <div class="form-link">
                    <span
                        >Already have an account? <a href="{% url 'login' %}" class="link login-link">Sign in</a></span
                    >
                </div>
            </div>
        </section>
        <script src="https://accounts.google.com/gsi/client"></script>
        <script>
            const pwShowHide = document.querySelectorAll(".eye-icon");
            pwShowHide.forEach((eyeIcon) => {
                eyeIcon.addEventListener("click", () => {
                    let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
                    pwFields.forEach((password) => {
                        if (password.type === "password") {
                            password.type = "text";
                            eyeIcon.classList.replace("bx-hide", "bx-show");
                        } else {
                            password.type = "password";
                            eyeIcon.classList.replace("bx-show", "bx-hide");
                        }
                    });
                });
            });
        </script>
    </body>
</html>
